
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>organization</title>
</head>
<body>
    <div> 
		hello, I am an organization

		Заявки
		<table>
			<tr>
				<td>Участник</td><td>Собака</td><td></td>
			</tr>
		</table>
    </div>
</body>
</html>
