@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="webApp">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Приложение</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css") <base href="/" />
</head>
<body class="skin-blue-light layout-top-nav">
    <div id="web-app" class="wrapper">
        <div class="content-wrapper">
            <div id="page" class="container" ng-view></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/assets")
    @Scripts.Render("~/bundles/applications")
</body>
</html>
